<h1 class="h1">
    Delete Book from Store
    </h1>
    <body bgcolor="aqua">

        <form class="form">


            
                <b> Enter Book id:-</b>
    
                <input type="text" name="bid"><br><br>
    
                <b> Enter Book name:-</b>
    
                <input type="text" name="bname"><br><br>
    
                
                <b> Enter Author name-</b>
                <input type="text"name="auth"><br><br>
    
                
                <b>Book Category:-</b>
    
                <select>
                    <option>Educational</option>
                    <option>Biography</option>
                    <option>Autobiography</option>
                    <option>Literature</option>
    
                        </select><br><br><br>
    
                        <input type="submit"value="Delete"> &nbsp; &nbsp; &nbsp;
                        <input type="button"value="Close">



        </form>



    </body>
